<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="table-of-contents" id="table-of-contents">
          <a class="title" href="{{relative_url}}">{{ page.title}}</a>
          {% toc %}
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}

  </body>

</html>
